<% layout('./layout/page.ejs') %>
<div class = "error">
    <img src="<%= picture %>" alt="Error" width="50" height="50" class="error-img">
    <h2> <%= error.status %> </h2>
    <h2><%= title %></h2>
</div>