<% layout('/layout/page.ejs') %>
<% if(user.length > 0) {%>
<h1>Welcome, <%= user[0].username %>!</h1>
<% } else { %>
<h1>Please, Log In to see all pages</h1>
<% } %>

    <h1><%= title %></h1>
    <p>Welcome to MidNightClub, where there is no rest for tires on the streets</p>
<p>Counter: <%= counter %></p>