<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% layout('./layout/page.ejs') %>
    <h1><%= title %></h1>
    <h1>Welcome to <%= title %></h1>
    <p>Счетчик: <%= counter %></p>
  </body>
</html>