<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm         bg-danger navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Главная</a>
            </li>
            <% if(typeof nav == 'object' && nav){ nav.forEach(function(car){ %>
            <li class="nav-item">
                <a class="nav-link" href="/cars/<%=car.nick%>"><%=car.title%></a>
            </li>
                <% })} %>
            <div class="navbar-nav ms-auto nav navbar-nav navbar-right">
                <%if(user.length > 0){%>
                <form action="/logout" method="post">
                    <button type="submit" class="btn btn-link">Log Out</button>
                </form>
                   <% } else { %>
                       <li><a href="/logreg">Log In</a></li>
                   <% } %>
            </ul>
        </ul>
    </div>
    </nav>
    <%- body %>
</body>
</html>